[user]
	name = Adrien Thebo
	email = {{ .git.email | quote  }}
[commit]
  verbose = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
{{- with .git.features.delta }}
  pager = delta --syntax-theme="1337"
{{ end -}}
[color]
	interactive = auto
	ui = auto
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	newMoved = cyan
	oldMoved = blue
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	untracked = cyan
[branch]
  sort = -committerdate
[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[merge]
	stat = true
	conflictstyle = diff3
[push]
	default = current
  autoSetupRemote = true
  followTags = true
[alias]
  out = "log @{u}.."
	wdiff = diff --word-diff
	ci = commit -v
	st = status --short --branch
	wat = log -p
	lg = "log --pretty=format:'%C(yellow)%h%C(reset) %C(blue)%an%C(reset) %C(cyan)%cr%C(reset) %s %C(green)%d%C(reset)' --graph"
	forward = pull --ff-only
  forward-main = !git checkout main && git pull --ff-only
	redo = commit --amend -C HEAD
	rebase-main = !git rebase -i $(git merge-base main HEAD)
	rebase-upstream = !git fetch origin && git rebase -i --onto origin/main $(git merge-base main HEAD)
	where = rev-parse --abbrev-ref HEAD
	smash = reset --hard
	checkout-pull = "!fn() { git fetch origin \"refs/pull/$1/head\" && git checkout -b \"pull-$1\" && git reset --hard FETCH_HEAD ; } ; fn "
[github]
	user = adrienthebo
[gist]
	browse = yes
[http]
	cookiefile = ~/.gitcookies
# use separate file for username / github token / etc
[include]
	path = ~/.gitconfig.local
[fetch]
  prune = true
  pruneTags = true
  all = true
[url "https://github.com"]
	insteadOf = git://github.com
[url "https://github.com/"]
	insteadOf = gh:
[url "git@github.com:"]
	insteadOf = ghs:
[pager]
	branch = false

[interactive]
{{- with .git.features.delta }}
  diffFilter = delta --dark --color-only
{{ end -}}
[init]
  defaultBranch = main
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[rerere]
  enabled = true
  autoupdate = true
{{ with .git.features.credential_manager -}}
[credential]
  helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
  useHttpPath = true
{{ end -}}
{{ with .git.features.lfs -}}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
{{ end -}}
