Include {{ .chezmoi.config.destDir }}/.colima/ssh_config
Include {{ .chezmoi.config.destDir }}/.ssh/config.local

Host *
    ControlMaster auto
    ControlPath ~/.ssh/S.%r@%h:%p
    ControlPersist 5m

